In [1]:
import pandas as pd

In [ ]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Inner Join :\n", pd.merge(df1,df2,on='key', how='inner', sort=True))  # intersection of keys

In [2]:
df_stud = pd.DataFrame({'st_id' : [101,102,103,104,105], 'Branch' : ['IT', 'CS','ECE', 'CS', 'MECH']})
df_fac = pd.DataFrame({'F_id' : [110,120,130,140,150], 'Branch' : ['ECE', 'MECH','EEE', 'IT', 'CS']})
print("Student DataFrame: \n", df_stud, '\n Faculty DataFrame : \n', df_fac)
df_merge=pd.merge(df_stud,df_fac,on='Branch', how='inner', sort=True)
print("Merged DataFrame : \n", df_merge)   #Merge on a column

Student DataFrame:
    st_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty DataFrame :
    F_id Branch
0   110    ECE
1   120   MECH
2   130    EEE
3   140     IT
4   150     CS
Merged DataFrame :
    st_id Branch  F_id
0    102     CS   150
1    104     CS   150
2    103    ECE   110
3    101     IT   140
4    105   MECH   120

In [5]:
df_stud = pd.DataFrame({'st_id' : [101,102,103,104,105], 'Branch' : ['IT', 'CS','ECE', 'CS', 'MECH']})
df_fac = pd.DataFrame({'F_name' : ['A', 'B', 'C', 'D', 'E'], 'Stream' : ['ECE', 'MECH','EEE', 'IT', 'CS']})
print("Student Details: \n", df_stud, '\n Faculty Details : \n', df_fac)
#df_merge=pd.merge(df_stud,df_fac,on='Branch', how='inner', sort=True)
print("Merged DataFrame : \n", pd.merge(df_stud,df_fac,left_on = 'Branch', right_on = 'Stream'))   #Merge on a column

Student Details:
    st_id Branch
0    101     IT
1    102     CS
2    103    ECE
3    104     CS
4    105   MECH
 Faculty Details :
   F_name Stream
0      A    ECE
1      B   MECH
2      C    EEE
3      D     IT
4      E     CS
Merged DataFrame :
    st_id Branch F_name Stream
0    101     IT      D     IT
1    102     CS      E     CS
2    104     CS      E     CS
3    103    ECE      A    ECE
4    105   MECH      B   MECH

In [8]:
# The redundant column also dropped
pd.merge(df_stud,df_fac,left_on='Branch',right_on='Stream').drop('Stream',axis=1)

   st_id Branch F_name
0    101     IT      D
1    102     CS      E
2    104     CS      E
3    103    ECE      A
4    105   MECH      B

In [62]:
# The redundant column can also be dropped
new_df=pd.merge(df_stud,df_fac,left_on = 'Branch', right_on='Stream')
new_df
new_df.drop('Stream', axis=1)

   st_id Branch F_name
0    101     IT      D
1    102     CS      E
2    104     CS      E
3    103    ECE      A
4    105   MECH      B

In [9]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11

In [12]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Outer Join :\n", pd.merge(df1,df2, how='outer', left_index=True, right_index=True))  # union of keys

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Outer Join :
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [14]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]})  # has unique
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'],'data2' :[3,6,9,11]}) # has unique row labels
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print("Outer Join :\n", pd.merge(df1,df2, how='outer', left_index=True, right_index=True))  # union of keys
# by default it adds suffixes _x and _yon the same column
# by default how = inner, here we can have all options

DataFrame1 :
   key  data1
0   b      0
1   a      4
2   d      6
3   e      8
 DataFrame2 :
   key  data2
0   a      3
1   b      6
2   d      9
3   f     11
Outer Join :
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [19]:
print('\n Using merge on indices: \n', pd.merge(df1,df2,how='outer', left_index=True, right_index=True))

 Using merge on indices:
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [22]:
#DataFrame has a convinient join method for merging by index
#print('\n Using join() : \n', df1.join(df2))
print('\n Using join() : \n',df1.join(df2,lsuffix='_x', rsuffix='_y'))
#lsuffix='_x', rsuffix='_y'
#default is left join

 Using join() :
   key_x  data1 key_y  data2
0     b      0     a      3
1     a      4     b      6
2     d      6     d      9
3     e      8     f     11

In [56]:
print("Concatenated DataFrames axis = 1 \n", pd.concat([df1,df2], axis=1))

Concatenated DataFrames axis = 1
   key  data11  key  data12
0   b      10    a   100.0
1   b      20    b   200.0
2   a      30    a   300.0
3   c      40    d   400.0
4   a      50  NaN     NaN

In [54]:
print("Concatenated DataFrames axis =0 \n", pd.concat([df1,df2], axis=0))

Concatenated DataFrames axis =0
   key  data11  data12
0   b    10.0     NaN
1   b    20.0     NaN
2   a    30.0     NaN
3   c    40.0     NaN
4   a    50.0     NaN
0   a     NaN   100.0
1   b     NaN   200.0
2   a     NaN   300.0
3   d     NaN   400.0

In [24]:
#print('\n Using join() : \n', df1.join(df2))
print('\n Using join() : \n',df1.join(df2,lsuffix='_df1', rsuffix='_df2'))
#lsuffix='_x', rsuffix='_y'
#default is left join

 Using join() :
   key_df1  data1 key_df2  data2
0       b      0       a      3
1       a      4       b      6
2       d      6       d      9
3       e      8       f     11

In [30]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]}, index=[10,20,30,40])
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'], 'data1' :[3,6,9,11]}, index=[40,50,60,70])
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
#print('\n', pd.merge(df1,df2,how='inner', left_index=True,right_index=True))
print('\n Using merge on indices:\n', pd.merge(df1,df2,how='inner', left_index=True,right_index=True))

DataFrame1 :
    key  data1
10   b      0
20   a      4
30   d      6
40   e      8
 DataFrame2 :
    key  data1
40   a      3
50   b      6
60   d      9
70   f     11

 Using merge on indices:
    key_x  data1_x key_y  data1_y
40     e        8     a        3

In [32]:
df1=pd.DataFrame({'key' :['b', 'a', 'd', 'e'], 'data1' :[0,4,6,8]}, index=[10,20,30,40])
df2=pd.DataFrame({'key' :['a', 'b', 'd', 'f'], 'data1' :[3,6,9,11]}, index=[40,50,60,70])
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
print('\n', pd.merge(df1,df2,how='inner', left_index=True,right_index=True))
print('\n Using merge on indices:\n', pd.merge(df1,df2,how='inner', left_index=True,right_index=True))

DataFrame1 :
    key  data1
10   b      0
20   a      4
30   d      6
40   e      8
 DataFrame2 :
    key  data1
40   a      3
50   b      6
60   d      9
70   f     11

    key_x  data1_x key_y  data1_y
40     e        8     a        3

 Using merge on indices:
    key_x  data1_x key_y  data1_y
40     e        8     a        3

In [43]:
# If we want to join using the key columns,we need to set key to be index in both df1 and df2
# The joint DataFrame will then have the key as it's index
df1=pd.DataFrame({'key':['b','b','a','c','a'], 'data11':[10,20,30,40,50]})
# has multiple rows lebelled a and b
df2=pd.DataFrame({'key':['a','b','a','d'], 'data12':[100,200,300,400]})
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)

DataFrame1 :
   kay  data11
0   b      10
1   b      20
2   a      30
3   c      40
4   a      50
 DataFrame2 :
   kay  data12
0   a     100
1   b     200
2   a     300
3   d     400

In [57]:
dfn1=df1.set_index('key')
dfn2=df2.set_index('key')
print('\n Using merge on indices : \n' , pd.merge(dfn1, dfn2, how='inner', left_index=True, right_index=True))

 Using merge on indices :
      data11  data12
key
a        30     100
a        30     300
a        50     100
a        50     300
b        10     200
b        20     200

In [60]:
dfn1=df1.set_index('key')
dfn2=df2.set_index('key')
print('\n Using merge on indices : \n' , pd.merge(dfn1, dfn2, left_index=True, right_index=True))
#  For merge how=inner
print('\n Using join() : \n', dfn1.join(dfn2,lsuffix='_x', rsuffix='_y'))
# for join how='left' by default

 Using merge on indices :
      data11  data12
key
a        30     100
a        30     300
a        50     100
a        50     300
b        10     200
b        20     200

 Using join() :
      data11  data12
key
a        30   100.0
a        30   300.0
a        50   100.0
a        50   300.0
b        10   200.0
b        20   200.0
c        40     NaN

In [50]:
df1=pd.DataFrame({'key':['b','b','a','c','a'], 'data11':[10,20,30,40,50]})
df2=pd.DataFrame({'key':['a','b','a','d'], 'data12':[100,200,300,400]})
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
dfn1=df1.set_index('key')
dfn2=df2.set_index('key')
print(dfn1)
print(dfn2)

DataFrame1 :
   key  data11
0   b      10
1   b      20
2   a      30
3   c      40
4   a      50
 DataFrame2 :
   key  data12
0   a     100
1   b     200
2   a     300
3   d     400
     data11
key
b        10
b        20
a        30
c        40
a        50
     data12
key
a       100
b       200
a       300
d       400

In [51]:
df1=pd.DataFrame({'key':['b','b','a','c','a'], 'data11':[10,20,30,40,50]})
df2=pd.DataFrame({'key':['a','b','a','d'], 'data12':[100,200,300,400]})
print("DataFrame1 :\n", df1, '\n DataFrame2 :\n',df2)
dfn1=df1.set_index('key')
dfn2=df2.set_index('key')
print(dfn1)
print(dfn2)
print('\n Using merge on indices:\n',pd.merge(dfn1,dfn2,left_index=True,right_index=True))

DataFrame1 :
   key  data11
0   b      10
1   b      20
2   a      30
3   c      40
4   a      50
 DataFrame2 :
   key  data12
0   a     100
1   b     200
2   a     300
3   d     400
     data11
key
b        10
b        20
a        30
c        40
a        50
     data12
key
a       100
b       200
a       300
d       400

 Using merge on indices:
      data11  data12
key
a        30     100
a        30     300
a        50     100
a        50     300
b        10     200
b        20     200